// Button

.nns-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: none;

  @each $name, $color in $colors {
    &--#{$name} {
      background-color: $color;
      color: white;

      &:hover {
        background-color: darken($color, 10%);
      }
    }

    &--outline-#{$name} {
      background-color: transparent;
      border: 2px solid $color;
      color: $color;

      &:hover {
        background-color: $color;
        color: white;
      }
    }
  }
}

// Responsif untuk Mobile
@media (max-width: 768px) {
  .nns-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
