// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
// Default body styles
body {
  color: $color-seagreen;
  font-family: 'Nunito','Plus Jakarta Sans', 'Helvetica Neue', 'Helvetica', 'Arial', serif;
  font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 1.6;
}