// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
// Default body styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito','Plus Jakarta Sans', 'Helvetica Neue', 'Helvetica', 'Arial', serif;
  //font-size: 1rem; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 600;
  letter-spacing: .01rem;
  line-height: 1.6;
}