// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

//
// Base Colors
$color-white: #fff !default;
$color-black: #000 !default;


// Color Palette

$color-alabaster:#F8F9FA !default;
$color-athensgray:#E9ECEF !default;
$color-geyser:#DEE2E6 !default;
$color-iron:#CED4DA !default;
$color-bombay:#ADB5BD !default;
$color-rollingstone:#6C757D !default;
$color-abbey:#495057 !default;
$color-outerspace:#343A40 !default;
$color-shark:#212529 !default;

$color-mabel:#CFF4FC !default;
$color-charlotte:#9EEAF9 !default;
$color-skyblue:#6EDFF6 !default;
$color-azure:#3DD5F3 !default;
$color-cerulean:#0DCAF0 !default;
$color-bondiblue:#0AA2C0 !default;
$color-calyspo:#087990 !default;
$color-casal:#055160 !default;
$color-daintree:#032830 !default;

$color-whiteice:#D2F4EA !default;
$color-cruise:#A6E9D5 !default;
$color-bermuda:#79DFC1 !default;
$color-puertorico:#4DD4AC !default;
$color-shamrock:#20C997 !default;
$color-oceangreen:#1AA179 !default;
$color-watercourse:#13795B !default;
$color-greenpea:#0D503C !default;
$color-burnham:#06281E !default;

$color-skeptic:#D1E7DD !default;
$color-gumleaf:#A3CFBB !default;
$color-silvertree:#75B798 !default;
$color-aquaforest:#479F76 !default;
$color-seagreen:#198754 !default;
$color-jewel:#146C43 !default;
$color-sherwoodgreen:#0F5132 !default;
$color-bottlegreen:#0A3622 !default;

$color-barleywhite:#FFF3CD !default;
$color-creambrulee:#FFE69C !default;
$color-goldenrod:#FFDA6A !default;
$color-sunglow:#FFCD39 !default;
$color-amber:#FFC107 !default;
$color-pizza:#CC9A06 !default;
$color-butteredrum:#997404 !default;
$color-antiquebronze:#664D03 !default;
$color-madras:#332701 !default;

$color-karry:#FFE5D0 !default;
$color-flesh:#FECBA1 !default;
$color-macaroniandcheese:#FEB272 !default;
$color-jaffa: #FD9843 !default;
$color-ecstasy:#fd7e14 !default;
$color-hotcinnamon:#CA6510 !default;
$color-korma:#984C0C !default;
$color-carnabytan:#653208 !default;
$color-jackobean:#331904 !default;

$color-cosmos:#F8D7DA !default;
$color-sundown:#F1AEB5 !default;
$color-geraldine:#EA868F !default;
$color-mandy:#E35D6A !default;
$color-brickred:#DC3545 !default;
$color-wellread:#B02A37 !default;
$color-merlot:#842029 !default;
$color-maroonoak:#58151C !default;
$color-nightrider:#2C0B0E !default;